{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'Styles.css' %}">
</head>
<body>
        <ul class="titles">
            <li><a href="http://www.google.com">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Documentation</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    <div class="icon" >
    <img src="{% static '/icon.png' %}" id="icon">
    <h2 style="margin-left: 10px;font-weight: 600;">VRICSA</h2>
    </div>
    <img src="{% static '/Untitled design (4).png' %}" alt="" id="backgr">
    <a href=" " alt="" id="" ><button class="bt1" > Connect</button></a>
    <a href=" " alt="" id="" ><button class="bt2" > Contact Us</button></a>
    <img src="{% static './Untitled design (3).png' %}" alt="" id="yelcirc" />
    <div style="font-size: 75pt;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: rgb(12, 230, 12);position: absolute;top: 90px;left: 25px;">
       Hi,Welcome Back!
    </div>
    <div style="width: 50%; font-family: cursive, Courier;font-weight: 200;font-size: 18px;position: absolute; top: 250px;left: 30px;">
        
        To connect your IoT (Internet of Things) devices, we will establish a secure and efficient data transfer protocol. Once the connection is established, your IoT devices will transmit their data to our secure servers in real-time. Our servers are equipped with robust encryption and authentication mechanisms to ensure data security during transit. Once the data reaches our servers, it will undergo thorough validation and processing before being stored in our highly secured database infrastructure.We are committed to maintaining its integrity and confidentiality.
        <br>
        Tap Below, To Pull Your IOT Device
    
    </div>
    <div id="sec2">
    

    </div>
</body>
</html>